alabaster                     
asttokens                     
babel                         
certifi                       
charset-normalizer            
colorama                      
contourpy                     
CoolProp                      
cycler                        
decorator                     
docutils                      
executing                     
fonttools                     
idna                          
imagesize                     
ipython                       
jedi                          
Jinja2                        
kiwisolver                    
MarkupSafe                    
matplotlib                    
matplotlib-inline             
numpy                         
packaging                     
parso                         
pillow                        
prompt_toolkit                
pure_eval                     
Pygments                      
pyparsing                     
python-dateutil               
requests                      
roman-numerals-py             
scipy                         
six                           
snowballstemmer               
Sphinx                        
stack-data                    
traitlets                     
urllib3                       
wcwidth                       
